/* CSS classes for special post behavior go here. */

figure {
    margin: 0;
    text-align: center;
}

figcaption {
    /* Copied from subtext */
    color: #696969;
    line-height: 1;

    font-style: italic;
    font-size: 14px;
}